doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous')
  body
    ul(class='menu')
      li(class='menu')
        a(href='/') 홈
      li(class='menu')
        a(href='/lectures') 강의목록 
      li(class='menu')
        a(href='/teachers') 선생님 리스트 
      li(class='menu')
        a(href='/students') 학생 리스트 
      li(class='menu')
        a(href='/auth/signin') 로그인
      li(class='menu')
        a(href='/auth/signout') 로그아웃
    br
    div(class='container')
      block content
