extends layout

block content
    h1 #{title}
    table
        tr 
            a(href='/teachers/1') 강병석
        tr 
            td DB 전공 1타 강사입니다.
    table
        tr 
            a(href='/teachers/2') 노윤호
        tr 
            td 환자입니다.